<h1>Stupid Coaching</h1>

<div class="border border-right-0">
  <p>
    <%= @question %>
  </p>
  <p>
    <i>-You</i>
  </p>
</div>
<div>
  <p>
    <%= @answer %>
  </p>
  <p>
    <i>-Your Coach</i>
  </p>
</div>

<%= link_to "Ask New Question", "/ask" %>
